<div id="masthead">  
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Build Web Apps With Angular 2
          <p class="lead"></p>
        </h1>
      </div>
    </div> 
  </div>
</div>

<div class="container">
  
  <div class="panel panel-default">
    <div class="panel-body">

      <h2>Temario del Taller</h2>
      <hr>
      
      <div class="col-md-4" style="font-size: 18px">
        <ul>
          <li>TypeScript</li>
          <li>Principios B&aacute;sicos de Angular 2</li>
          <li>Angular-Cli</li>
          <li>Componentes</li>
          <li>Templates</li>
        </ul>
      </div>

      <div class="col-md-4" style="font-size: 18px">
        <ul>
          <li>Servicios</li>
          <li>Manejo de Rutas</li>
          <li>Arquitectura basada en Componentes</li>
          <li>Decoradores</li>
          <li>Eventos</li>
        </ul>
      </div>

      <div class="col-md-4" style="font-size: 18px">
        <ul>
          <li>Formularios</li>
          <li>Validaciones</li>
          <li>Peticiones HTTP</li>
          <li>Promesas</li>
          <li>Firebase</li>
        </ul>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h2>Objetivos del Taller</h2>
          <hr>
          <p style="font-size: 18px">
            El objetivo final de este Taller, es brindar m&aacute;s que una introducci&oacute;n, es demostrar el verdadero poder que
            puede tener un Framework FrontEnd como Angular, para la creaci&oacute;n de aplicaciones Web en la Industr&iacute;a actualmente.
          </p>

          <p style="font-size: 18px">
            As&iacute; mismo, busca poder proporcionar a los asistentes del COECYS, las herramientas y conocimientos necesarios para poder
            crecer profesionalmente en el &aacute;mbito de desarrollo Web. De igual forma, los asistentes crear&aacute;n una aplicaci&oacute;n
            que podr&aacute;n presentar como parte de su portafolio profesional
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <h2>Repositorio del Proyecto</h2>
          <hr>
          <p style="font-size: 18px">
            <a href="https://github.com/nodejsgt/coecys_2017.git" target="_blank">
            https://github.com/nodejsgt/coecys_2017.git
            </a>
          </p>
        </div>
      </div>
      
      
    </div>
  </div>
  
</div>